//variables
$black: #191919;
$white: #F7F7F7;
$tri-blue: #1521c5;
$tri-red: #E00909;
$footer-font: rgba(25,25,25, 0.6);

$bg-highlight: rgba(245, 245, 245, 0.4);
$bg-fallback-color: $white;
$bg-sections: radial-gradient(circle, rgba(192, 192, 192, 0.922), 
              rgba(245, 245, 245, 0.922));
$bg-gradient-white: darken(rgba(255, 255, 255, 0.9), 3%);
$bg-image: radial-gradient(circle, transparent, $bg-gradient-white 98%),
           url(../../images/water_ice_bg_cpsd.jpg);

//fonts 
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Oswald');

// Base styles
* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  letter-spacing: 0.039em;
}

ul {
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
a {
  margin: auto;
  text-align: center;
  font-family: 'Oswald', sans-serif;
}

p {
  margin: 0.5em 0;
}

img {
  margin: auto;
  display: flex;
}

// wrappers
.wrapper {
  background: $bg-fallback-color;
  background-image: $bg-image;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin: auto;
  padding: 0;
}


// components
header {
  align-items: center;
  justify-content: center;
  margin: auto;
  max-width: 700px;

  img[class="logo"] {
    width: 95%;
    margin: auto;
  }

  img[class="number"] {
    width: 60%;
    margin: auto;
  }
}

.main-nav {
  display: flex;
  margin: 1em auto;
  width: 100%;

  a {
    color: $tri-blue;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2em;
    transition: all .5s ease;

    &:hover,
    &:active {
      color: $tri-red;
    }

    @media (min-width: 361px) {
      font-size: 1.6em;
    }
  }
  @media (min-width: 500px) {
    width: 70%;
  }
}

footer {  
  z-index: 0;
  align-self: center;
  font-family: 'Open Sans', sans-serif;
  color: $black;
  color: $footer-font;
}

// sections
section.service,
section.installation,
section.contact {
  display: none;
  color: $black;
  text-align: center;
  background: $bg-fallback-color;
  background: $bg-sections;
  border: 10px solid $black;
  position: absolute;
  padding: 2em 0.7em 1.7em;
  height: auto;
  max-width: 800px;
  min-height: 100%;
  margin: auto;
  top: 0;
  bottom: auto;
  align-items: center;
  right: 0;
  left: 0;
  font-size: .82em;
  font-family: 'Open Sans', sans-serif;
  z-index: 1;

  & > div:first-child {
    margin-top: 1em;
  }

  .sub-nav {
    font-family: 'Oswald', sans-serif;
    color: $tri-blue;
    position: absolute;
    font-size: 1.2em;
    top: 0.3em;
    left: 0.3em;
    padding: 0;
    margin: 0;

    a {
      color: $tri-blue;
      margin: 0.6em;
      transition: all 0.5s ease;
      text-decoration: none;
      font-weight: bold;
    }

    a:hover,
    .active {
      color: $tri_red;
    }
  }

.exit:before {
  display: flex;
  position: absolute;
  font-size: 1.6em;
  top: 0.3em;
  right: 0.3em;
  font-family: FontAwesome;
  cursor: pointer;
  content: "\f00d"; 
  padding: 2px 8px;
  transition: all 0.5s ease;
  }

  .exit:hover:before {
    color: $tri-red;
  }

  @media (min-width: 500px) {
    font-size: 1.16em;
    border: 13px solid $black;
  }

  @media (max-height: 500px) {
    bottom: auto;
  }
}

.service {

  h1 {
    display: inline;
  }

  h3 {
    margin: 0.4em 0 0.7em;
    background: $bg-highlight;
  }
}

.installation {

  .customers {
    & > h3 {
      margin:0;
    }

    .col-xs-6 h3,
    .col-sm-4 h3 {
      font-family: 'Open Sans', sans-serif;
      font-weight: normal;
    }
  }
}

.contact {

  h1:first-child {
    display: inline-block;
    margin-bottom: 1em; 
  }

  h3 {
    margin-bottom: 0.5em;
  }

  .contact-icons {
    text-align: right;
    
    p {
      font-size: 1.17em;
      margin: 0;
    }

    i[class^="fa"] {
      margin: 0.45em;
    }
  }

  .contact-labels {

    h3 {
      text-align: right;
    }
  }

  .contact-values {

    h3 {
      text-align: left;
    }
  }
}


//typo and stuff
.red {
  color: $tri-red;
}

.blue {
  color: $tri-blue;
}

.m-a {
  margin: auto;
}

.m-0 {
  margin: 0;
}

.mb-0 {
  margin-bottom: 0.1em;
}

.mt-3 {
  margin-top: 1.3em;
}

.mb-3 {
  margin-bottom: 1.3em;
}

.larger {
  font-size: 2em;
}

.bb {
  border-bottom: 2px solid $black;
}

.hidden-xs {

  @media (max-width: 400px) {
    display: none;
  }
}

// css animations
// @keyframes hvr-wobble {
//   33.3% {
//     transform: translateY(3px);
//   }
//   49.95% {
//     transform: translateY(-3px);
//   }
//   83.25% {
//     transform: translateY(2px);
//   }
//   100% {
//     transform: translateY(0);
//   }
// }

// .hvr-wobble {
//   display: inline-block;
//   vertical-align: middle;
//   transform: perspective(1px) translateZ(0);
//   box-shadow: 0 0 1px transparent;
// }
// .hvr-wobble:hover, .hvr-wobble:focus, .hvr-wobble:active {
//   animation-name: hvr-wobble;
//   animation-duration: 0.5s;
//   animation-timing-function: ease-in-out;
//   animation-iteration-count: 1;
// }
