//variables
$black: #191919;
$shadow-color: rgba(25, 25, 25, 0.6);
$white: #F7F7F7;
$tri-blue: #1521c5;
$tri-red: #E00909;
$footer-font: rgba(25,25,25, 0.6);

$bg-highlight: rgba(245, 245, 245, 0.4);
$bg-fallback-color: $white;
$bg-sections: radial-gradient(circle, rgba(192, 192, 192, 0.822), 
              rgba(245, 245, 245, 0.922));
$bg-gradient-white: darken(rgba(255, 255, 255, 0.9), 3%);
$bg-image: radial-gradient(circle, transparent, $bg-gradient-white 98%),
           url(../../images/water_ice_bg_cpsd.jpg);
$bg-b2t: rgba(245, 245, 245, 0.722);

//fonts 
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Oswald');

// Base styles
* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  letter-spacing: 0.039em;
}

ul {
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
a {
  margin: auto;
  text-align: center;
  font-family: 'Oswald', sans-serif;
}

h1 {
  font-size: 1.5677em;
}

h2 {
  font-size: 1.35em;
}

h3 {
  font-size: 1.25em;
}


p {
  margin: 0.5em 0;
}

img {
  margin: auto;
  display: flex;
}

// wrappers
.wrapper {
  background: $bg-fallback-color;
  background-image: $bg-image;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: auto;
  padding: 0;
}


// components
header {
  align-items: center;
  justify-content: center;
  margin: auto;
  max-width: 100%;

  .logo {
    width: 95%;
    margin: auto;
    margin-top: 1.5em;
  }

  .number {
    width: 60%;
    margin: auto;
  }
}

.main-nav {
  display: flex;
  margin: 1em auto;
  transition: background .5s ease, box-shadow .5s ease;

  .is-sticky & {
    background: $white;
    box-shadow: 0 0 10px $shadow-color;
    border-radius: 0 0 5px 5px;
    margin-top: 0;
  }

  a {
    color: $tri-blue;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2em;

    // &:hover,
    &:active {
      color: $tri-red;
    }

    @media (min-width: 361px) {
      font-size: 1.6em;
    }
  }
  @media (min-width: 500px) {
    width: 70%;
  }
}



footer {  
  z-index: 0;
  display: flex;
  align-self: center;
  font-family: 'Open Sans', sans-serif;
  height: 150px;
  color: $black;
  color: $footer-font;

  small {
    align-self: flex-end;
  }
}

// sections
section.service,
section.installation,
section.contact {
  display: flex;
  color: $black;
  text-align: center;
  background: $bg-fallback-color;
  background: $bg-sections;
  border: 2px solid $white;
  border-radius: .8em;
  padding: 2em 0.7em 1.7em;
  height: auto;
  max-width: 850px;
  margin: 2em auto;
  align-items: center;
  font-size: .89em;
  font-family: 'Open Sans', sans-serif;
  z-index: 1;

  @media (min-width: 500px) {
    font-size: 1.16em;
  }
}

.installation {

  .col-xs-6,
  .col-sm-4 {
    h3 {
      font-family: 'Open Sans', sans-serif;
      font-weight: normal;
    }
  }
}

.b2t:focus,
.b2t {
  outline: $white;
  background: $bg-b2t;
  box-shadow: 0 0 10px $shadow-color;
  border-radius: 5px;
  color: $tri-blue;
  border: none;
  display: none;
  position: fixed;
  bottom: 10px;
  right: 10px;
}

.b2t:active {
  color: $tri-red;
  box-shadow: 0 0 4px $shadow-color;
}

//typo and stuff
.red {
  color: $tri-red;
}

.blue {
  color: $tri-blue;
}

.bg-highlight {
  background: $bg-highlight;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.inline {
  display: inline;
}

.m-a {
  margin: auto;
}

.m-0 {
  margin: 0;
}

.mb-0 {
  margin-bottom: 0.1em;
}

.mt-3 {
  margin-top: 1.3em;
}

.mb-3 {
  margin-bottom: 1.3em;
}

.larger {
  font-size: 2em;
}

.bb {
  border-bottom: 2px solid $black;
}

.hidden-xs {

  @media (max-width: 400px) {
    display: none;
  }
}

// css animations
@keyframes hvr-wobble {
  33.3% {
    transform: translateY(3px);
  }
  49.95% {
    transform: translateY(-3px);
  }
  83.25% {
    transform: translateY(2px);
  }
  100% {
    transform: translateY(0);
  }
}

.hvr-wobble {
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
}
.hvr-wobble:hover, 
.hvr-wobble:focus, 
.hvr-wobble:active {
  animation-name: hvr-wobble;
  animation-duration: 0.6s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
}
