@import url("https://fonts.googleapis.com/css?family=Open+Sans|Oswald");
* {
  box-sizing: border-box; }

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  letter-spacing: 0.039em; }

ul {
  padding: 0;
  list-style: none; }

h1,
h2,
h3,
a {
  margin: auto;
  text-align: center;
  font-family: 'Oswald', sans-serif; }

h1 {
  font-size: 1.5677em; }

h2 {
  font-size: 1.35em; }

h3 {
  font-size: 1.25em; }

p {
  margin: 0.5em 0; }

img {
  margin: auto;
  display: flex; }

.wrapper {
  background: #F7F7F7;
  background-image: radial-gradient(circle, transparent, rgba(247, 247, 247, 0.9) 98%), url(../../images/water_ice_bg_cpsd.jpg);
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: auto;
  padding: 0; }

header {
  align-items: center;
  justify-content: center;
  margin: auto;
  max-width: 100%; }
  header .logo {
    width: 95%;
    margin: auto;
    margin-top: 1.5em; }
  header .number {
    width: 60%;
    margin: auto; }

.sticky-wrapper {
  width: 100%; }

.main-nav {
  display: flex;
  margin: 1em auto;
  transition: all .5s ease; }
  .is-sticky .main-nav {
    background: #F7F7F7;
    padding: 1em auto;
    box-shadow: 0 0 10px rgba(25, 25, 25, 0.6);
    border-radius: 5px; }
  .main-nav a {
    color: #1521c5;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2em; }
    .main-nav a:active {
      color: #E00909; }
    @media (min-width: 361px) {
      .main-nav a {
        font-size: 1.6em; } }
  @media (min-width: 500px) {
    .main-nav {
      width: 70%; } }

footer {
  z-index: 0;
  display: flex;
  align-self: center;
  font-family: 'Open Sans', sans-serif;
  height: 150px;
  color: #191919;
  color: rgba(25, 25, 25, 0.6); }
  footer small {
    align-self: flex-end; }

section.service,
section.installation,
section.contact {
  display: flex;
  color: #191919;
  text-align: center;
  background: #F7F7F7;
  background: radial-gradient(circle, rgba(192, 192, 192, 0.822), rgba(245, 245, 245, 0.822));
  border: 1px solid #F7F7F7;
  border-radius: .8em;
  padding: 2em 0.7em 1.7em;
  height: auto;
  max-width: 850px;
  margin: 2em auto;
  align-items: center;
  font-size: .89em;
  font-family: 'Open Sans', sans-serif;
  z-index: 1; }
  @media (min-width: 500px) {
    section.service,
    section.installation,
    section.contact {
      font-size: 1.16em; } }

.installation .col-xs-6 h3,
.installation .col-sm-4 h3 {
  font-family: 'Open Sans', sans-serif;
  font-weight: normal; }

.red {
  color: #E00909; }

.blue {
  color: #1521c5; }

.bg-highlight {
  background: rgba(245, 245, 245, 0.4); }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.inline {
  display: inline; }

.m-a {
  margin: auto; }

.m-0 {
  margin: 0; }

.mb-0 {
  margin-bottom: 0.1em; }

.mt-3 {
  margin-top: 1.3em; }

.mb-3 {
  margin-bottom: 1.3em; }

.larger {
  font-size: 2em; }

.bb {
  border-bottom: 2px solid #191919; }

@media (max-width: 400px) {
  .hidden-xs {
    display: none; } }

@keyframes hvr-wobble {
  33.3% {
    transform: translateY(3px); }
  49.95% {
    transform: translateY(-3px); }
  83.25% {
    transform: translateY(2px); }
  100% {
    transform: translateY(0); } }
.hvr-wobble {
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent; }

.hvr-wobble:hover,
.hvr-wobble:focus,
.hvr-wobble:active {
  animation-name: hvr-wobble;
  animation-duration: 0.6s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1; }

/*# sourceMappingURL=main.css.map */
